/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

/*===================MENU==========================*/

#menu {
    background-color: #333; /* Cambia este valor al gris oscuro que desees */
}

 #menu a, button{
     font-size: 18px !important;
     font-weight: 200;
    
 }

 #menu a{
     color:#ffffff;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:49rem !important;
    overflow: visible;
}



#carousel {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Ajusta el último valor para cambiar la opacidad */
}




/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
    background: url(../img/mapa.png);
    width:100%;
    height:500px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: 0px;
    margin-top: 550px;
} 

 #seccion-contacto{
    background-color: #333;
    min-height:100px;
    position:relative;
    height: 500px;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:5%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px; 
    padding: 40px;   
}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/

footer {
    background: #333;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }

   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}
